[Unit]
Description=Shutdown Service

[Service]
User=root
ExecStart=/home/ubuntu/bsp/pi/shutdown/shutdown.py
Restart=always

[Install]
WantedBy=multi-user.target