[Unit]
Description=Button Service

[Service]
User=root
ExecStart=/home/ubuntu/bsp/pi/button/button.py
Restart=always

[Install]
WantedBy=multi-user.target