[Unit]
Description=Plotter Service
After=network-online.target bsp-runpod.service
Wants=network-online.target bsp-runpod.service

[Service]
User=ubuntu
Group=ubuntu
SupplementaryGroups=dialout
WorkingDirectory=/home/ubuntu/bsp/pi/plotter/
EnvironmentFile=-/etc/bsp.env
ExecStart=/home/ubuntu/bsp/.venv/bin/python /home/ubuntu/bsp/pi/plotter/plotter.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
