[Unit]
Description=Plotter Service

[Service]
User=root
WorkingDirectory=/home/ubuntu/bsp/pi/plotter/
ExecStart=/home/ubuntu/bsp/pi/plotter/plotter.py
Restart=always
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target