BSP_VIBECHECK_URL=http://vibecheck.taildd340.ts.net:8787
BSP_PROCESS_URL=
BSP_PLOTTER_CAPTURE_RESULT_URL=http://localhost:8080/capture-result
BSP_CAMERA_SHUTTER_URL=http://localhost:8081/shutter
BSP_CAMERA_PREVIEW_URL=http://localhost:8081/preview.jpg
BSP_CAMERA_SETTINGS_URL=http://localhost:8081/settings
BSP_CAMERA_DEVICE=/dev/video0
BSP_TINYG_PORT=
