[Unit]
Description=Camera Service
After=network-online.target
Wants=network-online.target

[Service]
User=ubuntu
Group=ubuntu
SupplementaryGroups=video
WorkingDirectory=/home/ubuntu/bsp/pi/camera/
EnvironmentFile=-/etc/bsp.env
ExecStart=/home/ubuntu/bsp/.venv/bin/python /home/ubuntu/bsp/pi/camera/camera.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
